1.	Area of Triangle :
Given the lengths of three sides of a triangle, calculate the area of the triangle.

In [ ]:
import math
a=int(input("Enter first side : "))
b=int(input("Enter second side : "))
c=int(input("Enter third side : "))
s=(a+b+c)/2.0
ar=(s-a)*(s-b)*(s-c)
ar=math.sqrt(s*ar)
print(ar)

Enter first side : 3
Enter second side : 4
Enter third side : 5
6.0

2.	Take a string from end user and check if the value is palindrome or not

In [ ]:
st=input("enter string : ")
if(st==st[-1::-1]):
  print("palindrom")
else:
  print("Not a plaindrom")

enter string : malayalam
palindrom

3.	Write a program that reads a year from the user and displays a message 
Indicating whether or not it is a leap year.

In [ ]:
def check(y): 
    if(y%4)==0: 
      if(y%100)==0: 
            if(y%400) == 0: 
                return True
            else: 
                return False
      else: 
        return True
    else: 
        return False
y=int(input("Enter year : "))
if(check(y)): 
    print("Leap Year") 
else: 
    print("Not a Leap Year")

Enter year : 2000
Leap Year

4.	 Space To Hyphen problem 
Take a string as input, and replaces spaces “ “  with hyphens “-”, and returns a string.
Input: “ This program converts spaces into hyphen”
      Output:     “ This-program-converts-spaces-into-hyphen”

In [ ]:
st=input("enter string : ")
st1=""
for i in st:
  if(i==" "):
    st1=st1+"-"
  else:
    st1=st1+i
print(st1)

enter string : This program converts spaces into hyphen
This-program-converts-spaces-into-hyphen

5.	Unique Sort problem 
Take a string as input that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).

In [ ]:
st=input("enter items : ")
st1=st.split(",")
st2=[]
for i in st1:
  if i not in st2:
    st2.append(i)
st2.sort()
for i in st2:
  print(i,end=" ")

enter items : red,pink,pink,red,blue,green,blue,pink
blue green pink red

6.	Tax Calculator
Ask the user for their monthly salary. Calculate whether they have to pay tax and if so, how much is that amount .Print the result

In [ ]:
sal=int(input("Enter salary : "))
if(sal<=250000):
  print("0")
elif(sal>250000 and sal<=500000):
  print(sal*0.05)
elif(sal>500000 and sal<=750000):
  print(sal*0.1)
elif(sal>750000 and sal<=1000000):
  print(sal*0.15)
elif(sal>1000000 and sal<=1250000):
  print(sal*0.2)
elif(sal>1250000 and sal<=1500000):
  print(sal*0.25)
else:
  print(sal*0.3)

Enter salary : 520000
52000.0

7.	Take a list of integers as an argument, and converts it into a single integer (return the integer).
*Input*: [11, 33, 50]
*Output*: 113350

In [ ]:
import math
n=input("Enter list : ")
n1=n.split()
s=0
c1=0
l=len(n1)
for i in n1:
  c=len(i)
  s=s+int(i)
  z=math.pow(10,c)
  if(c1<l-1):
    s=int(s*z)
  c1+=1
print(s)

Enter list : 11 33 50
113350

8.	Units of Time
Create a program that reads duration from the user as a number of days, hours, minutes, and seconds. Compute and display the total number of seconds represented by this duration.

In [ ]:
sm=60
sh=3600
sd=86400
d=int(input("Enter number of Days: "))
h=int(input("Enter number of Hours: "))
m=int(input("Enter number of Minutes: "))
s=int(input("Enter number of Seconds: "))
ts=d*sd
ts= ts+(h*sh)
ts= ts+(m*sm)
ts= ts+s
print("Total number of seconds: ",int(ts))

Enter number of Days: 6
Enter number of Hours: 16
Enter number of Minutes: 25
Enter number of Seconds: 30
Total number of seconds:  577530

9.	Sort 3 Integers
Given three integers (given through user input), sort the numbers using |min| and  |max| functions.

In [ ]:
def mini(n):
  m=int(n[0])
  for i in n:
    if(int(i)<m):
      m=int(i)
  return m
def maxm(n):
  m=int(n[0])
  for i in n:
    if(int(i)>m):
      m=int(i)
  return m
a=input("Enter list : ")
n=a.split()
mi=mini(n)
ma=maxm(n)
b=[mi]
for i in n:
  if (int(i) is not mi) and (int(i) is not ma):
    b.append(int(i))
b.append(ma)
print(b)

Enter list : 67 9 24
[9, 24, 67]

10.	Write a program that reads a date from the user and computes its immediate successor. The date is the format YYYY-MM-DD. So, 2020-04-15 will have the successor 2020-04-16.

In [ ]:
year = int(input("Input a year: "))

if (year % 400 == 0):
    leap_year = True
elif (year % 100 == 0):
    leap_year = False
elif (year % 4 == 0):
    leap_year = True
else:
    leap_year = False

month = int(input("Input a month [1-12]: "))
if month in (1, 3, 5, 7, 8, 10, 12):
    month_length = 31
elif month == 2:
    if leap_year:
        month_length = 29
    else:
        month_length = 28
else:
    month_length = 30
day = int(input("Input a day [1-31]: "))
if day < month_length:
    day += 1
else:
    day = 1
    if month == 12:
        month = 1
        year += 1
    else:
        month += 1
print("The next date is [yyyy-mm-dd] %d-%d-%d." % (year, month, day))

Input a year: 2021
Input a month [1-12]: 9
Input a day [1-31]: 31
The next date is [yyyy-mm-dd] 2021-10-1.

11.	Compute product of a list of numbers [45 ,3,2,89,72,1,10,7]
Output: 121111200

In [ ]:
n=input("Enter integers : ")
n1=n.split()
s=1
for i in n1:
  s=s*int(i)
print(s)

Enter integers : 45 3 2 89 72 1 10 7
121111200

12.	Compute given Num_list =  [5, 6,8 ,34,89,1] to get desired output
Output: Out_list=[11,14,42,123,90]

In [ ]:
n=input("Enter integers : ")
n1=n.split()
n2=[]
l=len(n1)
c=0
for i in n1:
  c+=1
  if c<=l-1:
    n2.append(int(i)+int(n1[c]))
print(n2)

Enter integers : 5 6 8 34 89 1
[11, 14, 42, 123, 90]

13.Compute given Num_tuple =  (5, 6,8 ,3,9,1) to get desired output
Output: Out_list = [5, 30, 240, 720, 6480, 6480]

In [ ]:
n=input("Enter integers : ")
n1=n.split()
n2=[]
c=1
for i in n1:
  c=int(i)*c
  n2.append(c)
print(n2)

Enter integers : 5 6 8 3 9 1
[5, 30, 240, 720, 6480, 6480]

14.	 Write a Python code that takes a number and returns a list of its digits. So for 586392 it should return [5,8,6,3,9,2]

In [ ]:
n=int(input("Enter number : "))
n1=[]
while(n>0):
  i=int(n%10)
  n1.append(i)
  n=int(n/10)
n1.reverse() 
print(n1)

Enter number : 123456789
[1, 2, 3, 4, 5, 6, 7, 8, 9]

15.	Write a program that finds the longest palindromic substring of a given string

In [ ]:
def getstrin(st,low,high):
    l=len(st)
    while low >= 0 and high < l and str[low] == str[high]:
        low = low - 1
        high = high + 1
    return str[low + 1:high]
def palindrom(st, l):
    maxstr = ""
    maxl= 0
    for i in range(l):
        cstr=getstrin(str, i, i)
        cl = len(cstr)
        if cl > maxl:
            maxl= cl
            maxstr = cstr
        cstr = getstrin(str, i, i + 1)
        cl= len(cstr)
        if cl> maxl:
            maxl = cl
            maxstr = cstr

    return maxstr

st = input("enter string : ")
print("Longest Palindromic substring is", palindrom(st, len(st) - 1))

enter string : ABDCBCDBDCBBC
Longest Palindromic substring is BDCBCDB

16. Substring Check (Bug Funny)
Given two binary strings, A (of length 10) and B (of length 5), output 1 if B is a substring of A and 0 otherwise.
First two lines of input:

1010110010          10110
1110111011           10011
First two lines of output:
1
0

In [ ]:
st=input("enter string : ")
st1=input("enter string : ")
if st1 in st:
  print("1")
else:
  print("0")

enter string : 1010110010
enter string : 10110
1

In [ ]:
def gcd(a,b):
    if b==0: 
        return a 
    return gcd(b,a%b) 
def countsteps(a,b,c): 
    v1=b
    v2=0
    count=1
    while ((v1 is not c) and (v2 is not c)): 
        temp=min(v1,a-v2) 
        v2=v2+temp 
        v1=v1-temp 
        count=count+1
        if ((v2==c)or(v1==c)): 
            break
        if v1==0: 
            v1=b 
            count=count+1
        if v2==a: 
            v2=0
            count=count+1
    return count 
def ispossible(a,b,c): 
    if a>b: 
        temp=a 
        a=b 
        b=temp 
    if c>b: 
        return -1
    if (c%(gcd(b,a)) is not 0): 
        return -1
    return(min(countsteps(b,a,c),countsteps(a,b,c)))
t=int(input("Enter testcases : "))
for i in range(t):
  a=int(input("Enter a : "))
  b=int(input("Enter b : "))
  c=int(input("Enter c :"))
  print("Minimum number of steps required is : ",ispossible(a,b,c))

Enter testcases : 2
Enter a : 5
Enter b : 2
Enter c :3
Minimum number of steps required is :  2
Enter a : 2
Enter b : 3
Enter c :4
Minimum number of steps required is :  -1